<pinch-zoom (events)="handlePinchZoomEvents($event)">
	<img src="https://images.unsplash.com/photo-1444927714506-8492d94b4e3d" />
</pinch-zoom>

<h2>More examples</h2>
<ul>
	<li><a [routerLink]="['/demo/transition-duration']">Transition duration</a></li>
	<li><a [routerLink]="['/demo/double-tap-scale']">Double tap scale</a></li>
	<li><a [routerLink]="['/demo/zoom-control-scale']">Zoom control scale</a></li>
	<li><a [routerLink]="['/demo/auto-zoom-out']">Auto zoom out</a></li>
	<li><a [routerLink]="['/demo/limit-zoom']">Limit zoom</a></li>
	<li><a [routerLink]="['/demo/overflow']">Overflow: visible</a></li>
	<li><a [routerLink]="['/demo/limit-pan']">Limit pan</a></li>
	<li><a [routerLink]="['/demo/min-scale']">Min scale</a></li>
</ul>