<pinch-zoom>
	<img src="https://images.unsplash.com/photo-1444927714506-8492d94b4e3d" />
</pinch-zoom>

<h2>More examples</h2>
<ul>
	<li><a [routerLink]="['/demo/transition-duration']">Transition duration</a></li>
	<li><a [routerLink]="['/demo/double-tap-scale']">Double tap scale</a></li>
	<li><a [routerLink]="['/demo/zoom-button-scale']">Zoom button scale</a></li>
	<li><a [routerLink]="['/demo/auto-zoom-out']">Auto zoom out</a></li>
	<li><a [routerLink]="['/demo/limit-zoom']">Limit zoom</a></li>
</ul>